<div class="container">
    <h2>User Profile</h2>
    <div class="profile-details">
        <div class="profile-item">
            <label>Username:</label>
            <span>{{ user.username }}</span>
        </div>
        <div class="profile-item">
            <label>Email:</label>
            <span>{{ user.email }}</span>
        </div>
        <div class="profile-item">
            <label>First Name:</label>
            <span>{{ user.firstName }}</span>
        </div>
        <div class="profile-item">
            <label>Last Name:</label>
            <span>{{ user.lastName }}</span>
        </div>
        <div class="profile-item">
            <label>Phone Number:</label>
            <span>{{ user.phone }}</span>
        </div>
    </div>
</div>